* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    padding: 1.5%;
    background-color: #ffd9cc;
}

#logo {
    padding: 0px;
}

#img {
    height: 100%;
    width: 100%;
    border-radius: 800%;
}

.row {
    color: white;
    margin: 1%;
    padding: 1%;
    cursor: pointer;
    text-align: center;
}

#row1 {
    background-color: #9A7763;
}

#row2 {
    background-color: #C8AD7E;
}

#row3 {
    background-color: #B07A68;
}

.row_text {
    display: none;
}

#connect {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#whatsapp,
#inst {
    margin: 1%;
}

.social_logo {
    width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    #logo {
        width: 60%;
        height: 60%;
    }

    #name {
        font-size: 400%;
    }

    .row {
        height: 100%;
        width: 100%;
        font-size: 400%
    }

    #row1_text {
        font-size: 400%;
    }

    #sep2 {
        font-size: 405%;
    }

    #whatsapp,
    #inst {
        width: 100%;
        height: 10%;
    }

    .social_logo {
        width: 100%;
        height: 100%;
    }
}

@media (min-width: 1000px) {
    #logo {
        width: 20%;
        height: 140%;
    }

    #name {
        font-size: 100%;
    }

    .row {
        height: 100%;
        width: 50%;
        font-size: 100%
    }

    #row1_text {
        font-size: 100%;
    }

    #sep2 {
        font-size: 105%;
    }

    #whatsapp,
    #inst {
        width: 15%;
        height: 15%;
    }
}
